/*GERAL*/
*{
    font-family: 'Roboto';
}
body{
    min-height: 100%;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.alert-msg{
    margin: 5px;
    border: 1px solid #C3E6CB;
    text-align: center;
    padding: 10px;
}


/*NAVBAR*/
.navbar-color{
    background-color: #122526;
}
#navbar img{
    width: 30px;
    margin-left: 10px;
}
#navbar{
    justify-content: space-between;
    background-color: 5px 0;
}
#navbar a{
    font-size: 14px;
    color: #757575;
}
#navbar a:hover{
    color: #F2A340;
}
#navbar{
    padding-right: 10px;
    justify-content: space-between;
}
#navbar .nav-item a{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #122526;
}
#navbar .nav-item i{
    margin-right: 5px;
    font-size: 18px;
}
#navbar .nav-item a:hover{
    color: #1594A6;
    border: 1px solid #1594A6;
}

/*HOMEPAGE*/

/*card vaga*/
.card-title{
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
}
.card-info{
    color: #212121;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.container-cards{
    margin: auto;
    margin-bottom: 100px;
    align-items: center;
}
.skill{
    text-align: center;
    padding: 0;
}
.card-vacancy{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.text-skills{
    font-size: 20px;
}
.text-error{
    font-size: 15px;
    color: rgb(178, 5, 5);
}

/*search*/
#search-container{
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    text-align: center;
}
#search-container h1{
    color: #122526;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
}
#search-container form{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

/*card vacancy*/

.title-vacancy h2{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: #122526;
    font-size: 35px;
}
#vacancies-container h3{
    margin-bottom: 10px;
    color: hsl(0, 0%, 46%);
}
#cards-container{
    width: 300px;
}
#cards-container p{
    text-align: center;
    color: hsl(0, 0%, 46%);
}

#vacancies-container .card{
    width: 90%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

.btn-ver-mais{
    text-align: center;
}

/*VACANCY CREATE PAGE*/
#vacancy-create-container{
    padding: 30px;
    margin-top: 15px;
    border: 1px solid #134d5785;
    border-radius: 25px;
}
#vacancy-create-container h1{
    text-align: center;
}
#vacancy-create-container label{
    font-weight: bold;
}
#vacancy-create-container input,
#vacancy-create-container select{
    font-size: 12px;
}
#vacancy-create-container .btn-criar{
    text-align: center;
}

/*dashboard*/
.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.dashboard-title-container h1{
    color: #122526;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
}
.dashboard-title-container th{
    width: 25%;
}
.dashboard-events-container form{
    display: inline-block;
}
.dashboard-title-container p{
    text-align: center;
}
.edit-btn{
    margin: 5px;
    width: 120px;
}



